@charset "UTF-8";

.soe-text-cta-heading,
.soe-text-cta-body {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}

.soe-text-cta-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.soe-text-cta-cards > div {
  margin: 0 20px 20px;
}


.soe-text-cta-cards > div:nth-last-child(1) {
  max-width: 33%;
}

.soe-text-cta-cards > div:nth-last-child(2),
.soe-text-cta-cards > div:nth-last-child(2) ~ div {
  max-width: calc(50% - 40px);
}

.soe-text-cta-cards > div:nth-last-child(3),
.soe-text-cta-cards > div:nth-last-child(3) ~ div {
  max-width: calc(33% - 40px);
}

.soe-text-cta-cards > div:nth-last-child(4),
.soe-text-cta-cards > div:nth-last-child(4) ~ div {
  max-width: calc(50% - 40px);
}

.soe-text-cta-cards > div:nth-last-child(5),
.soe-text-cta-cards > div:nth-last-child(5) ~ div {
  max-width: calc(33% - 40px);
}
