@charset 'UTF-8';

:root {
  --teal: #00ece9;
  --red: #ff525c;
  --yellow: #ffbd54;
}

// Spotlight Node
.node-page--stanford-news {
  .su-news-spotlight-header {
    margin: 0;

    .node-stanford-news-title .title,
    .su-news-quote {
      @include sans;
    }
  }
}

// Spotlight Card
.news-spotlight {
  .su-media__wrapper {
    padding: 3.6rem 3.6rem 0 3.6rem;
  }

  .su-card {
    .su-card__contents {
      .su-news-dek > p {
        @include sans;
      }
    }
  }
}

// Spotlight Image
.node-page--stanford-news,
.news-spotlight {
  .field-media-image {
    border-radius: 100%;
    border-width: 1rem;
    border-style: solid;
    overflow: hidden;
  }
}

.ptype-stanford-entity:has(.news-spotlight),
.stanford-news--cards-spotlight {
  .su-list-unstyled,
  .stanford-entity {
    div,
    li {
      &:has(.news-spotlight):nth-child(6n + 1) .field-media-image {
        border-color: var(--teal);
      }

      &:has(.news-spotlight):nth-child(6n + 2) .field-media-image {
        border-color: var(--yellow);
      }

      &:has(.news-spotlight):nth-child(6n + 3) .field-media-image {
        border-color: var(--red);
      }

      &:has(.news-spotlight):nth-child(6n + 4) .field-media-image {
        border-color: var(--yellow);
      }

      &:has(.news-spotlight):nth-child(6n + 5) .field-media-image {
        border-color: var(--red);
      }

      &:has(.news-spotlight):nth-child(6n + 6) .field-media-image {
        border-color: var(--teal);
      }
    }
  }
}

.node-page--stanford-news {
  &:nth-child(3n + 1) {
    border-color: var(--teal);
  }

  &:nth-child(3n + 2) {
    border-color: var(--yellow);
  }

  &:nth-child(3n + 3) {
    border-color: var(--red);
  }
}
