@charset 'UTF-8';

:root {
  --teal: #00ece9;
  --orange: #ff525c;
  --yellow: #ffbd54;
}

// Spotlight Node
.node-page--stanford-news {
  .su-news-spotlight-header {
    margin: 0;

    .node-stanford-news-title .title,
    .su-news-quote {
      @include sans;
    }
  }
}

// Spotlight Card
.news-spotlight {
  .su-media__wrapper {
    padding: 3.6rem 3.6rem 0 3.6rem;
  }

  .su-card {
    .su-card__contents {
      .su-news-dek > p {
        @include sans;
      }
    }
  }
}

// Spotlight Image
.node-page--stanford-news,
.news-spotlight {
  .field-media-image {
    border-radius: 100%;
    border-width: 1rem;
    border-style: solid;
    overflow: hidden;
  }
}

.stanford-news--cards-spotlight,
.stanford-entity {
  div:has(.news-spotlight):nth-child(3n + 1) .field-media-image {
    border-color: var(--teal);
  }

  div:has(.news-spotlight):nth-child(3n + 2) .field-media-image {
    border-color: var(--yellow);
  }

  div:has(.news-spotlight):nth-child(3n + 3) .field-media-image {
    border-color: var(--orange);
  }
}

.node-page--stanford-news {
  &:nth-child(3n + 1) {
    border-color: var(--teal);
  }

  &:nth-child(3n + 2) {
    border-color: var(--yellow);
  }

  &:nth-child(3n + 3) {
    border-color: var(--orange);
  }
}
